:root {
  --primary: #6350D9;
  --borderRadius: 16px;
}

.app-wrapper {
  width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-areas: 'header header' 'nav main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: main;
  background-color: #6350D9;
  background-color: #FFFFFF;
  border-radius: var(--borderRadius);
  overflow: hidden;
  min-height: 80vh;
}
